// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

html {
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}